*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family-1: 'Ubuntu', sans-serif;
    --font-family-2: 'Overpass', sans-serif;
}

body{
    font-size: 16px;
    font-family: var(--font-family-2);
}

.first-section{
background: #f5574c  url(images/bg-pattern-intro.svg) ;
background-repeat: no-repeat;
background-size: 350%;
background-position: center;
height: 100vh;
width: 100%;
border-radius: 0 0 0 8em;
}

.header{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
 position: absolute;
 top: 90px;
 height: 100vh;
 width: 85%;
 transform: scale(1, 0);
 transform-origin: top;
 transition: transform 400ms ease-in-out;
}

.brand-name-container{
    position: absolute;
    left: 25px;
    top: 35px;
}

.brand-name{
    font-size: 2.2rem;
    color: white;
    font-family: var(--font-family-1);
}

/* HAMBURGER MENU FUNCTIONALITY */

.hamburger-icon{
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 25px;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all .6s;
}

.change{
    transform: scale(1, 1);
}


.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2{
    opacity: 0;
}

.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}

/* NAVIGATION MENU ITEMS AND FUNCTIONALITY */

.nav-list-menu{
    background: white;
    text-align: center;
    box-shadow: 0px  25px 55px rgb(68, 68, 68);
    border-radius: 10px;
    padding-top: 1em;
    margin-top: 2em;

}

.nav-brand-name-container{
    display: none;
}


.list-container ul{
    list-style: none;
    margin-top: 1.5em;
    font-weight: 600;
}

.menu-feature{
    font-size: 1.2em;
    font-weight: 600;
}

.upward-arrow{
    display: none;
    padding-left: 5px;
}

.downward-arrow,
.upward-arrow{
        color: hsl(353, 100%, 62%); 
}
    

.list-container ul li{
    margin-top: 1em;
    margin-bottom: 1em;
}

.list-container a{
    text-decoration: none;
    color: #333;
}

.sub-menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    display: none;
}

.sub-menu-items-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sub-menu-items{
 width: 85%;
 border-radius: 5px;
 background: rgb(204, 204, 204);
}

.sub-menu-items li a{
    color: rgb(68, 67, 67);
    font-weight: 400;
    font-size: 1.1rem;
   }


.sub-menu-items li a:hover{
    color: black;
    font-weight: 600;
    text-decoration: underline;
   }

/* NAVIGATION BUTTONS */

.nav-cta-btns{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-nav-cta-btns{
    display: none;
}

.line-segment{
    width: 85%;
    border: .5px solid rgb(238, 235, 235);
    border-radius: 10px;
    margin: 1em 0;
}

.login-btn, 
.sign-up-btn{
    width: 140px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: .1em;
    cursor: pointer;
}

.login-btn{
    margin: 0em 0 .5em;
    background-color: white;
    font-family: var(--font-family-2);
    }
    
    .sign-up-btn{
        margin-bottom: 2em;
        background-image: linear-gradient( to bottom right, #f88a83, #f1483c);
        color: white;
        font-family: var(--font-family-1);
    }
    
    .login-btn:hover{
    background-image: linear-gradient( to bottom right, #f88a83, #f1483c);
    color: white;
    }
    
    .sign-up-btn:hover{
        background: rgba(189, 189, 189, 0.4);
        color: black;
        }
    
        /* SHOW-TEXT SETTINGS */
    

     .show-text .sub-menu-list{
         display: block;
         height: auto;
         transform: scale(1, 1);
         transform-origin: top;
         transition: transform 400ms ease-in-out ;
         }
        
    .show-text .upward-arrow{
            display: inline;
         }

    .show-text .downward-arrow{
            display: none;
        }

        /* MISSION STATEMENT CONTAINER */
.misson-statement-container{
    text-align: center;
    color: white;
}
.modern-statement{
    font-size: 2.2rem;
    padding: 3em .7em 1em;
}

.paragraph-statement{
    font-size: 1.2rem;
    padding: 0 5%;
}

.btn-two-container{
margin-top: 10%;
}

.start-free-btn,
.learn-more-btn{
    width: 145px;
    height: 50px;
    border-radius: 30px;
    border: white solid 1px;
    font-weight: 800;
    font-size: 1rem;
    font-family: var(--font-family-2);
    cursor: pointer;
    letter-spacing: .1em;
}

.start-free-btn{
    background: white;
    color: hsl(353, 100%, 62%);
    margin-right: 6px ;
}

.learn-more-btn{
    background: rgba(253, 69, 100, 0.2);
   margin-left: 6px;
    color: white;
}

.start-free-btn:hover{
    background: rgba(253, 69, 100, 0.2);
    color: white;
}

.learn-more-btn:hover{
    background: white ;
    color: hsl(353, 100%, 62%);
}


/* SECOND CONTAINER */
.second-container{
    margin-top: 7em;
    text-align: center;
    }
    
    .designed-future{
        font-size: 1.5rem;
        color: hsl(208, 49%, 24%);
    }
    
    .second-container-img{
       margin-top: 3em;
       text-align: center;
    }

    .second-container-text{
        padding: 0 .6rem 0;
        color: hsl(208, 49%, 24%);
    }
    
    .illustration-editor-mobile{
       width: 100%;
       height: 100%;
       object-fit: contain;
    }

    .sc-text-header{
        padding: 0 1em .5em;
        font-size: 1.7rem;
     }

     .sc-feature-text-body{
        padding: 0 .7em;
         line-height: 1.7rem;
     }

     .sc-feature-statement{
        text-align: center;
        padding: 2em 2em;
     }

    .illustration-editor-desktop{
        display: none;
    }

        /* THIRD CONTAINER */

.third-container{
    background-image: url(images/bg-pattern-circles.svg);
    background-color: hsl(237, 17%, 21%);
    background-position: 50% -50%; 
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15em;
    border-radius: 0 100px 0 100px;
}

.phone-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    top: -200px;
}

.tc-feature-statement{
    text-align: center;
}

.tc-feature-statement
.text-header{
    font-size: 2.5rem;
    padding-bottom: 1em;
    line-height: 3rem;
}

#infrastructure{
margin-top: -265px;
padding: 4em 2em;
color: white;
line-height: 2rem;
}

.infrastructure-text-body{
    margin-top: -0.8em;
}


/* FOURTH CONTAINER */
.fourth-container{
    margin-top: 3em;
    margin-bottom: 4em;
    color: hsl(208, 49%, 24%);
}

.fourth-container-statement {
    padding-bottom: 2em ;
}

.fourth-container-statement 
.feature-text-header{
    font-size: 1.6rem;
}

.fourth-container-statement
.feature-text-body {
    padding: 0 2.5em ;
    line-height: 1.7rem;
}

.fourth-container-text{
    margin-top: 1.5em;
}
.mobile-laptop{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.desktop-laptop{
    display: none;
}

/* FIFTH CONTAINER */

footer{
    text-align: center;
    background: hsl(240, 10%, 16%);
    color: white;
    border-radius: 0 80px 0 0;
    margin-bottom: 3em;
}

.footer-heading{
    font-family: var(--font-family-1);
    font-size: 2.2rem;
    padding: 2em 0; 
}

.footer-features{
    padding-bottom: 3em;
}

.first-footer-list-item,
.second-footer-list-item,
.third-footer-list-item{
    margin-bottom: 1.5em;
}

.footer-product,
.footer-company,
.footer-connect{
    font-weight: 600;
}

.footer-nav-item > a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 200;
    line-height: 2.5em;
}

.footer-nav-item > a:hover{
   text-decoration:underline;
}

/* MEDIA QUERY */
 @media only screen and (min-width: 780px){
    .first-section{
        background-size: 200%;
        border-radius: 0 0 0 10em;
     }

     /* HEADER PROPERTIES */
     .misson-statement-container {
        padding-bottom: 4em;
    }

     .modern-statement{
        font-size: 3.6rem;
        padding: 3em .7em .5em;
    }
    
    .paragraph-statement{
        font-size: 1.2rem;
        padding: 0 5%;
    }

    /* NAVIGATION FEATURES AND CONTAINERS */
   .nav-bar{
    top: 0;
    transform: scale(1, 1);
    display: grid;
    grid-template-columns:  1fr 3fr 2fr;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    padding: 2em 1em 0;
   }

   .nav-brand-name-container{
       display: block;
       margin: auto;
   }

   .nav-brand-name{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--font-family-1);
   }

   .nav-list-menu{
    background: none;
    text-align: center;
    box-shadow: none;
    padding-top: 1.5em;
    margin-top: 0em;
    display: flex;
    justify-content: flex-start;
    height: 0;
    gap: .5em;
}

   .brand-name-container{
       display: none;
   }

     .hamburger-icon{
         display: none;
     }

/* SUB-MENU LIST FEATURES AND CONTAINERS */
     .sub-menu-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms  ease-in-out ;
    }

     .sub-menu-items{
        width: 100%;
        font-size: 0.8rem;
        text-align: left;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1.5em;
        padding-right: 2.5em;
        background: rgb(255, 255, 255);
     }

     .sub-menu-items li{
        padding-bottom: .5em;
     }

     .sub-menu-items li a{
        font-size: .9rem;
        width: 100%;
       }

     .list-container ul{
        margin-top: 0em;
    }

    .list-container ul li{
        margin: 0;
    }

    .list-container a{
        color: white;
    }

    .menu-feature{
        font-size: 1em;
    }

    .menu-feature:hover{
        text-decoration: underline;
    }

    .sub-menu-items li a:hover{
        color: black;
        font-weight: 600;
        text-decoration: none;
       }

/* NAVIGATION CTA BUTTONS */
     .nav-cta-btns{
         display: none;
     }

     .line-segment{
        display: none;
    }

     .desktop-nav-cta-btns{
        display: inline;
        margin: auto;
    }

     .desktop-login-btn, 
     .desktop-sign-up-btn{
    width: 120px;
    height: 45px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: .1em;
    cursor: pointer;
}
   .desktop-login-btn{
        margin: 0;
        color: white;
        background: none;
    }
        
    .desktop-sign-up-btn{
            margin: 0;
            background: white;
            color: hsl(353, 100%, 62%); 
    }

    .desktop-login-btn:hover{
        margin: 0;
        color: hsl(353, 100%, 62%); 
        background: white;
    }
        
    .desktop-sign-up-btn:hover{
        color: white;
        background: hsl(356, 100%, 66%);
    }


/* ARROWS */

    .downward-arrow,
    .upward-arrow{
        color: hsl(0, 0%, 100%); 
        padding-left: .3em;
}

/* SECOND CONTAINER */

.second-container{
    height: auto;
    width: 100%;
    overflow: hidden;
}

.designed-future{
    font-size: 2.5rem;
    margin-bottom: -1em;
}

.sc-img-text{
    display: flex ;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0;
    width: 100%;
}

.second-container-img{
    width: 100;
    height: auto;
    margin: 0;
}

.illustration-editor-mobile{
    display: none;
 }

 .illustration-editor-desktop{
    display: block;
    margin-right: -23em;
 }

 .sc-text-header{
    padding: 0 0 .5em;
 }

 .sc-feature-statement{
    text-align: left;
    padding-bottom: 2em;
 }

 .sc-feature-text-body{
     padding: 0 0;
 }

 .second-container-text{
     padding: 0 3em 0 7.3em;
 }

 /* THIRD CONTAINER */

 .third-container{
    display: flex;
    align-items: center;
    background-position: top -50em right 30em;
    background-size: cover;
    margin-top: 5em;
    height: 400px;
    border-radius: 0 100px 0 100px;
 }
 
 #infrastructure {
    margin-top: 0;
    width: 50%;
    text-align: left ;
    padding: 4em 4.7em;
}

.phone-image{
    top: 25px;
    padding-left: 6em;
}

.tc-feature-statement .text-header {
    font-size: 2.2rem;
}

/* FOURTH CONTAINER */
.fourth-container{
    display: flex;
    margin: 8em 0;
    height: auto; 
    align-items: center;
}

.mobile-laptop{
   display: none;
}

.desktop-laptop{
    display: block;
    margin-left: -17.5em;
}

.fourth-container-img{
width: 100%;
height: auto;
margin: 0;
}

.fourth-container-statement
.feature-text-body {
    padding: 0 0em ;
}

.fourth-container-text{
    margin-top: 1.5em;
    width: 100%;
    padding: 0 6.5em 0 3em;
    line-height: 1.7rem;
}

.fourth-container-statement
.feature-text-header{
    text-align: left;
    padding: 0 0 1.5em;
}

/* FOOTER NAVIGATION */

.fifth-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em 6em;
}

.footer-heading{
    font-size: 2.5rem;
}

.footer-features{
    margin-top: 6em;
    padding-bottom: 3em;
    text-align: left;
}

.footer-features-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer-nav-item{
    list-style: none;
}

}


 @media only screen and (max-width: 1010px){

    /* SECOND CONTAINER */
.designed-future{
    font-size: 2rem;
    margin-bottom: 1.5em;
}

.sc-img-text{
    display: block ;
}

.second-container-text {
    margin: 0;
    padding: 0 .5rem 0;
}

.second-container-img{
    margin-right: 0em;
}

.illustration-editor-mobile{
    display: block;
 }

 .illustration-editor-desktop{
    display: none;
 }

 .sc-feature-statement{
    text-align: center;
 }

    /* FOURTH CONTAINER */
    .fourth-container{
        display: block;
        text-align: center;
    }
    
    .mobile-laptop{
       display: block;
    }
    
    .desktop-laptop{
        display: none;
    }

    .fourth-container-text{
        padding: 0 1em;
    }

    .fourth-container-statement
    .feature-text-header{
    text-align: center;
    }
 }

